.cart-page {
  padding: 40px;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 25px;
  background: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 12px;
}

.cart-item img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.quantity {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 15px 0;
}

.quantity button {
  width: 35px;
  height: 35px;
  border: none;
  background: #22c55e;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.remove {
  background: red;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}