.categories {
  padding: 60px 40px;
  text-align: center;
}

.categories h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

.category-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.category-card {
  background: #22c55e;
  color: white;
  padding: 30px;
  border-radius: 12px;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
}

.category-card:hover {
  transform: translateY(-8px);
}